################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/meBOT/bin/Debug
/source/meBOT/obj/Debug
/source/.vs/meBOT/v14/.suo
